

.section-favorite-dish {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
}

main {
  width: 100%;
}

.items {
  width: 100%;
  max-width: 1280px;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 0;
  margin: 0;
  grid-template-columns: repeat(auto-fit, minmax(373px, 1fr));
}

.item {
  max-width: 373.33px;
  width: 100%;
  min-height: 252px;
  border-radius: 10px;
  border: 5px solid var(--bg-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  padding: 32px;
}

h2 {
  font-size: 56px;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-image {
  max-width: 64px;
  height: auto;
  border-radius: 76px;
}

.item-text-container {
  display: flex;
  align-items: start;
  height: 108px;
  width: 309.33px;
}

.item-text {
  font-size: 20px;
  line-height: 36px;
  text-align: center;
}
@media (max-width: 991px) {

  .items {
    display: flex;
    flex-direction: column;
  }
}
