
.presentation-container {
  width: 100%;
  max-width: 1280px;
  display: flex;
  gap: 80px;
  justify-content: space-between;
  padding-top: 40px;
}

.right-container {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  padding-block: 80px;
}

h2 {
  font-size: 56px;
}

p {
  font-size: 24px
}

.left-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.image-food {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 64px;
}
