<section class="presentation-container">
  <aside class="left-container">
    <img src="/reservation/mesa-menu.webp" alt="menú" class="image-food" width="600" height="488">
  </aside>
  <article class="right-container">
    <div>
      <h2>Reserva hoy mismo.</h2>
    </div>

    <div>
      <p>Disfruta de una mezcla de sabores peruanos en cada bocado.</p>
    </div>

    <div>
      <app-button text="Reservar" [backgroundColor]="'var(--bg-black)'" [fontColor]="'var(--primary-color)'" [padding]="'20px 48px'" [fontSize]="'24px'" [fontWeight]="'700'"></app-button>
    </div>
  </article>

</section>
