<section class="presentation-container">
  <aside class="right-container">
    <img src="/presentation/lomo.webp" alt="lomo saltado" class="image-food" width="566" height="460">
  </aside>
  <article class="left-container">
    <div>
      <h2>Reserva hoy mismo.</h2>
    </div>

    <div>
      <p>Disfruta de una mezcla de sabores peruanos en cada bocado.</p>
    </div>

    <div>
      <app-button text="Reservar" [backgroundColor]="'var(--bg-black)'" [fontColor]="'var(--primary-color)'" ></app-button>
    </div>
  </article>

</section>
