.section-container {
  width: 100%;
}
.external-container {
  padding-inline: 80px;
}
.inner-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
}

.top-section {
  width: 100%;
  max-width: 1280px;
  padding-block: 48px;
  border-bottom: 1px solid #334155;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 48px;
}

.bottom-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-block: 24px;
}

div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

h5 {
  font-weight: 700;
  font-size: 32px;
}

p {
  font-weight: 400;
  color: var(--smoky-text);
}

span {
  font-weight: 700;
}

@media (max-width: 991px) {
  .external-container {
    padding-inline: 30px;
  }
}
