<footer class="section-container">
  <div class="external-container">
    <div class="inner-container">
      <section class="top-section">
        <div>
          <h5>Dilvant</h5>
        </div>
        <div>
          <span>Platos estrellas</span>
          <p>Ceviche</p>
          <p>Lomo saltado</p>
          <p>Causa rellena</p>
        </div>
        <div>
          <span>Contactos</span>
          <p>+51 999 999 999</p>
          <p>dilvant.restaurante&#64;gmail.com</p>
        </div>
        <div>
          <span>Encuéntranos</span>
          <p>Av. Dirección 1</p>
        </div>
      </section>
      <section class="bottom-section">
        <p>Plantilla hecha por Dilvant - 2024</p>
      </section>
    </div>
  </div>
</footer>
