.section-header {
 padding: 0 80px 80px 80px;
}

app-navbar {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: center;
}

.navbar-container {
  width: 100%;
  height: auto;
  padding-block: 24px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-black);
}

.logo {
  font-weight: 800;
  font-size: 48px;
  margin: 0;
}

ul {
  display: flex;
  align-items: center;
  gap: 48px;
  height: 35px;
  margin: 0;
}

li {
  list-style-type: none;
  padding-block: 12px;

  &:hover {
    border-bottom: 2px solid;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

app-presentation {
  display: flex;
  width: 100%;
  max-width: 1440px;
  height: auto;
  justify-content: center;
}
