.section-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

app-navbar,
app-presentation {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  padding: 80px;
}

app-navbar {
  padding-block: 0;
}

@media (max-width: 768px) {
  app-navbar,
  app-presentation {
    padding-inline: 30px;
  }

  app-presentation {
    padding-block: 30px;
  }
}
