<section class="presentation-container">
  <article class="left-container">
    <div>
      <h2>Haz crecer tu amor por la comida peruana.</h2>
    </div>

    <div>
      <p>
        Sumérgete en la cultura peruana a través de nuestra deliciosa comida.
      </p>
    </div>

    <div>
      <app-button
        text="Nuestra nueva carta."
        [backgroundColor]="'var(--bg-black)'"
        [fontColor]="'var(--primary-color)'"
        [padding]="'20px 48px'"
        [fontSize]="'24px'"
        [fontWeight]="'700'"
      ></app-button>
    </div>
  </article>

  <aside class="right-container">
    <img
      src="/presentation/lomo.webp"
      alt="lomo saltado"
      class="image-food"
      width="566"
      height="460"
    />
  </aside>
</section>
