<div class="presentation-container">
  <section class="left-container">
    <div>
      <h2>Haz crecer tu amor por la comida peruana.</h2>
    </div>

    <div>
      <p>Sumérgete en la cultura peruana a través de nuestra deliciosa comida.</p>
    </div>

    <div>
      <app-button text="Nuestra nueva carta." [backgroundColor]="'var(--bg-black)'" [fontColor]="'var(--primary-color)'" ></app-button>
    </div>
  </section>

  <section class="lomo-container">
    <img src="/presentation/lomo.webp" alt="lomo saltado" class="lomo">
  </section>
</div>
