.presentation-container {
  width: 100%;
  display: flex;
  gap: 80px;
  justify-content: space-between;
}

.left-container {
  max-width: 634px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

h2 {
  font-size: 56px;
}

p {
  font-size: 24px
}

.right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.image-food {
  width: 100%; /* Hace que la imagen ocupe el 100% del ancho de su contenedor */
  max-width: 566px; /* Define un tamaño máximo para la imagen */
  height: auto; /* Mantiene las proporciones de la imagen */
  border-radius: 62px;
}

@media (max-width: 768px) {

  .presentation-container {
    flex-direction: column;
  }
  .left-container {

    align-items: center;
  }
  h2, p {
    text-align: center;
  }
}
