<section class="section-recipes">
<header>
  <div>
    <h4>Recetas Peruanas Populares</h4>
  </div>
  <div>
    <app-button
      text="Explora Todos los Platos ->"
      [fontColor]="'var(--primary-color)'"
    ></app-button>
  </div>
</header>
<main>
  <ul class="recipes">
    @for(recipe of recipes; track recipe.id){
    <li class="recipe">
      <div class="recipe-title-container">
        <h6 class="recipe-title">{{recipe.title}}</h6>
      </div>
      <img class="recipe-image" [src]="recipe.image" [alt]="recipe.title" />
    </li>
    }
  </ul>
</main>
</section>
