.section-recipes {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
}

h4 {
  color: var(--title-black);
  font-size: 40px;
  margin: 0;
}

main {
  width: 100%;
}

.recipes {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 24px;
  padding: 0;
  margin: 0;
}

.recipe {
  width: 236.8px;
  height: 354px;
  border-radius: 5px;
  border: 1px solid var(--bg-black);
  background-size: cover;
  background-position: center;

}


.recipe-title-container {
  padding: 24px 24px 64px 24px;
}

.recipe-title {
  font-size: 24px;
  line-height: 26.4px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 244px;
}

.svg {
  vertical-align: middle;
}


@media (max-width: 768px) {

  .recipes, header {
    flex-direction: column;
  }
}
