.section-seasonal-dish {
  width: 100%;
  max-width: 1280px;
  display: flex;
  gap: 80px;
  justify-content: space-between;
  align-items: center;
}

.left-container {
  max-width: 647px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

h2 {
  font-size: 56px;
  margin: 0;
}

p {
  font-size: 20px;
  line-height: 36px;
}

.right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image-food {
  width: 100%;
  height: auto;
  max-width: 553px;
  max-height: 347px;
  border-radius: 63px;
}
