app-header, app-main, app-footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box
}

app-header {
  background-image: url('/shape.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

app-footer {
  background: var(--bg-black);
}


