app-header, app-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box
}

app-header {
  height: 700px;
  background: var(--bg-black);
  clip-path: polygon(100% 0, 100% 15%, 83% 80%, 0 100%, 0 0);
}
