app-recipes, app-seasonal-dish {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

app-recipes {
  height: 586px;
}

app-seasonal-dish {
  background: var(--bg-black);
}
