
<section class="section-seasonal-dish">
  <article class="left-container">
    <div>
      <h2>Una experiencia única</h2>
    </div>

    <div>
      <p>En nuestro restaurante, ofrecemos una experiencia culinaria única con los mejores platos de la gastronomía peruana. Desde el ceviche fresco hasta el lomo saltado, cada bocado es una explosión de sabor. Ven y disfruta de un ambiente acogedor mientras saboreas nuestras especialidades.</p>
    </div>
  </article>

  <aside class="right-container">
    <img src="/unique-experience/experiencia-culinaria.webp" alt="experiencia culinaria" class="image-food">
  </aside>
</section>
