@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700, 800&display=swap");

:root {
  --bg-black: #001405;
  --bg-red: #6d0101;
  --primary-color: #d4a206;
  --bg-white: #ffffff;
  --bg-smoky-white: #f1f5f9;
  --title-black: #0F172A;
  --smoky-text: #E2E8F0;
}
* {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--bg-white);
}
