@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700, 800&display=swap");

:root {
  --bg-black: #001405;
  --bg-red: #6d0101;
  --primary-color: #d4a206;
  --bg-white: #ffffff;
  --bg-smoky-white: #f1f5f9;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: var(--bg-white);
}
