<div class="navbar-container">
  <section class="logo-container">
    <h3 class="logo">Dilvant</h3>
  </section>

  <section class="nav-container">
    <nav>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="#menu">Menú</a></li>
        <li><a href="#we">Nosotros</a></li>
        <li><a href="#reservations">Reservas <img src="/chevron-down.svg" alt=""></a></li>
      </ul>
    </nav>
  </section>

  <section class="button-container">
    <app-button
      text="Contacto"
      [backgroundColor]="'var(--primary-color)'"
      [fontColor]="'var(--bg-white)'"
    />
  </section>

  <button class="menu-button"><img src="/menu-bar.svg" alt="ícono de menú"></button>
</div>
